{% extends "ci-infrastructure/cmake-all-lanes.sh.j2" %}
{% block cmake_args %}
{% if execution == "hpc-atos" %}
  -DMPI_SLOTS={{ ntasks }} \
{% endif %}
{% if not fortran_compiler_binary %}
  -DENABLE_FORTRAN=OFF \
{% endif %}
{% endblock %}
