name: Notify new PR

# Needs the worklow to be located in the branche the PR is merged to
on:
  pull_request_target:
    types:
      - "opened"

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify new PR
        uses: ecmwf/notify-teams-pr@v1
        with:
          incoming_webhook: ${{ secrets.MS_TEAMS_INCOMING_WEBHOOK }}
